
<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
             <a href="https://www.facebook.com/jackecherbez"><img src="../../../assets/Facebook.png" alt="facebook"></a>
             <a href="https://twitter.com/JulPede"><img src="../../../assets/twitter.png" alt="twitter"></a>
             <a href="https://www.linkedin.com/in/julian-pedemonte-b1b1b0245/"><img src="../../../assets/Linkedin.png" alt="Linkedin"></a>
             <a href="https://www.instagram.com/julianpedemonte/"><img src="../../../assets/Instagram.png" alt="Instagram"></a>
             <a href="https://github.com/GoldenDarks"><img src="../../../assets/Github.png" alt="Github"></a> 
             <button type="button" class="btn btn-primary">Ingresar</button>
        </div>
    </div>
</div>
