<div class="row">
    <h1>Educacion</h1>
    <p></p>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
                <ul>
            <li>
                <h1>Escuela tecnica N° 550</h1> - <h3> 2009 - 2016 </h3>
            </li>
            <p></p>
            <p>
                Tecnico en Informatica Profesional, Granadero Baigorria
            </p>
        </ul>
        <ul>
            <li>
                <h1>Universidad Tecnologica Nacional de Rosario</h1> - <h3> 2016 - presente </h3>
            </li>
            <p></p>
            <p>ISI: Ingenieria en Sistemas, Rosario
            </p>
        </ul>
    </div>
</div>
